.header {
    grid-area: header;
    background-color: rgb(7, 143, 255);
    border: 3px solid #000;
    border-radius: 5px;
}

.header img {
    width: 85px;
    height: 54px;
}
.login_block{
    float: right;
    cursor: pointer;
    margin: 15px 10px 0 0;
}
.login_block a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}