.nav {
    font-size: 22px;
    grid-area: nav;

    text-align: center;
    background-color: rgb(7, 143, 255);

    border: 3px solid #000;
    border-radius: 5px;
}

.nav_list {
    color: #000;
    text-decoration: none;
}

.nav a.active {
    color: honeydew;
}