.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;

    grid-template-areas:
  'header header header'
  'nav content content'
  'footer footer footer';

    grid-template-rows: 60px 1fr 50px;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

}

.header {
    grid-area: header;
    background-color: rgb(7, 143, 255);
    border: 3px solid #000;
    border-radius: 5px;
}
.header img {
    width: 85px;
    height: 54px;
}
.nav {
    font-size: 22px;
    grid-area: nav;

    text-align: center;
    background-color: rgb(7, 143, 255);

    border: 3px solid #000;
    border-radius: 5px;
}
.nav a {
    color: black;
    text-decoration: none;
}

.app-wrapper-content {
    grid-area: content;
}

.footer {
    grid-area: footer;

    background-color: rgb(7, 143, 255);
    border: 3px solid #000;
    border-radius: 5px;
    text-align: center;
}


