.dialogs {

    display: grid;
    grid-template-columns: 3fr 10fr;

    border: 3px solid;
    border-radius: 5px;

}
.dialogs_items {
    padding: 10px;
    border-right: 3px solid ;
    text-align: center;

}


.dialog {
    padding: 5px;
    font-weight: 700;
}
.dialog a {
    text-decoration: none;
    color: #000;
}


.messages {
    padding: 10px;

}
.message {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    background-color: rgb(221, 221, 221);

    font-family: 'Caveat', cursive;
    font-size: 21px;
    margin: 5px;

}

.add_button {
    border-radius: 5px;
    width: 150px;
    height: 30px;

    font-weight: 600;
    background-color: rgb(7, 143, 255);
}
.add_button:hover {
    background-color: cornflowerblue;
}
.message_input {
    display: flex;
    justify-content: space-around;

    margin-top: 200px;
}
textarea{

    resize: none;
    width: 500px;
    border-radius: 5px;
}